.main{
  background-color: #F7E6C4;
}
/* Navbar */
.logo1{
  color: #F1C376;
}
.logo2{
  color: white;
}
.logoTxt{
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0% 2% 0% 2%;
  align-items: center;
}
.header{
  background-color:#606C5D;
}
.searchBar input{
  font-size: 20px;
  width: 100%;
  background-color: black;
  color: #F7E6C4;
}
.searchBar input:focus{
 outline: none;
}
.searchBar{
  background-color: black;
  display: flex;
  align-items: center;
}
.searchIcon{
  background-color: #606C5D;
  font-size: 20px;
  color: white;
}
.hideSearchIcon{
  background-color: black;
  border-width: 0px;
  font-size: 20px;
  color: white;
  padding: 10px;
  margin-right: 4px;
}

.navTabs{
  display: flex;
  flex-direction: row;
}
.header input:focus{
  outline: none;
}
.navbarList{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.navbarList li{
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  color: #F1C376;
}
.navbarList li:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #F7E6C4;
}
.Link{
  text-decoration: none;
}

@media only screen and (max-width:800px){
  .homeTab{
    display: none;
  }
  .aboutTab{
    display: none;
  }
  .searchBar input{
    padding: 0px;
    width: 100%;
    font-size: 16px;
  }
  .logoTxt{
    font-size: 1.8em;
  }
  .navbarList li{
    font-size: 16px;
  }
}
@media only screen and (max-width:500px){
  .logoTxt{
    font-size: 1.5em;
  }
  .searchBar input{
    padding: 0px;
    width: 100%;
    font-size: 14px;
  }
  .navbarList li{
    font-size: 14px;
  }
}
@media only screen and (max-width:300px){
  .logoTxt{
    font-size: 1em;
  }
}

/* home page */
.title1{
 color:#606C5D ;
}
.title2{
color:#F1C376 ;
}

.tagLine{
  color: #748E63;
}

/* about page */
.aboutTitle{
  color: #F1C376;
}
.aboutText{
  color: #606C5D;
}