/* Navbar */
.logo1{
  color: grey;
}
.logo2{
  color: palevioletred;
}
.logoTxt{
  display: flex;
  flex-wrap: wrap;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header{
  background-color:rgb(69, 60, 60);
}
.header input{
  padding: 10px;
  border-radius: 20px;
  border: 0px;
  font-size: 20px;
  width: 200px;
  background-color: rgba(0,0,0,0);
  color: rgb(40, 37, 37);
}
.searchBar{
  background-color: rgb(91, 81, 81);
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-right: 10px;
}
.header input:focus{
  outline: none;
}
.navbarList{
  display: flex;
}
.navbarList li{
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  color: palevioletred;
}
.navbarList li:hover{
  text-decoration: underline;
  cursor: pointer;
  color: grey;
}